{%extends 'base.html'%}

{%block pageHeading%}Network Configuration{%endblock%}

{%block navBtns%}
<li ><a href="{{url_for('home')}}"><img class="icon" ><P>Dashboard</P></a></li>
<li ><a href="{{url_for('deviceConfig')}}"><img  class="icon" ><P>Device Config</P></a></li>
<li ><a href="{{url_for('cloudConfig')}}"><img class="icon"  ><P>Cloud Config</P></a></li>
<li ><a href="{{url_for('nodeConfig')}}"><img class="icon"  ><P>Node Config</P></a></li>
<li class="active"><a href="#"><img class="icon"  ><P>Network Config</P></a></li>
<li ><a href="{{url_for('dataManager')}}"><img class="icon"  ><P>Data Manager</P></a></li>
<li ><a href="{{url_for('debug')}}"><img class="icon"  ><P>Debug</P></a></li>
<li ><a href="{{url_for('reports')}}"><img class="icon"  ><P>Reports</P></a></li>
{%endblock%}

{% block content %}

<style>
    .btnWrap button, #editBtn{
        margin-top:10px;
        padding:3px 8px;
        float:right;
        letter-spacing:1.5px;
      } 
      .btnWrap button{
        margin-left: 10px;
        color: white;
        border: none;
        box-shadow: 0px 1px 4px rgba(41, 41, 41, 0.568);
      }
</style>

<div class="card" id="showCard" style="width:50%">
    <div class="card-content">
        <table style="width: 100%;">
            <tbody>
              <tr>
                <td><b>Network Type:</b></td>
                <td>Ethernet</td>
              </tr>
            </tbody>
        </table>
        <button type="button" id="editBtn" >Edit</button>
  </div>

{% endblock%}
