{%extends 'base.html'%}

{%block pageHeading%}Device Details{%endblock%}

{%block navBtns%}
  <li ><a href="{{url_for('home')}}"><img class="icon" ><P>Dashboard</P></a></li>
  <li ><a href="{{url_for('deviceConfig')}}"><img  class="icon" ><P>Device Config</P></a></li>
  <li ><a href="{{url_for('cloudConfig')}}"><img class="icon"  ><P>Cloud Config</P></a></li>
  <li class="active"><a href="#"><img class="icon"  ><P>Node Config</P></a></li>
  <li ><a href="{{url_for('networkConfig')}}"><img class="icon"  ><P>Network Config</P></a></li>
  <li ><a href="{{url_for('dataManager')}}"><img class="icon"  ><P>Data Manager</P></a></li>
  <li ><a href="{{url_for('debug')}}"><img class="icon"  ><P>Debug</P></a></li>
  <li ><a href="{{url_for('reports')}}"><img class="icon"  ><P>Reports</P></a></li>
{%endblock%}

{% block content %}

<style>
  #statusSelectBox{
    width:100%;
    padding:5px;
  }

  .btnWrap button, #editBtn{
    margin-top:10px;
    padding:3px 8px;
    float:right;
    letter-spacing:1.5px;
  } 
  .btnWrap button{
    margin-left: 10px;
    color: white;
    border: none;
    box-shadow: 0px 1px 4px rgba(41, 41, 41, 0.568);
  }
  .content-container{
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  input[type=text]{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number]{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
</style>

<div class="card" id="showCard" style="width:30%;">
  <div class="card-head", style="background-color:#d32d41;">
      Node
  </div>
  <div class="card-content">
      <table style="width: 100%;">
          <tbody>
              <tr>
                  <td><b>Type:</b></td>
                  <td>BLE</td>
              </tr>
              <tr>
                  <td><b>Category:</b></td>
                  <td>iBeacon</td>
              </tr>
              <tr>
                  <td><b>Count:</b></td>
                  <td>10</td>
              </tr>
              <tr>
                  <td><b>Scan rate:</b></td>
                  <td>{{nodeData.scanRate}}</td>
              </tr>
              <tr>
                  <td><b>Status:</b></td>
                  <td>{{nodeData.status}}</td>
              </tr>
          </tbody>
      </table>
      <button type="button" onclick="showStatusSelect()" id="editBtn" >Edit</button>
  </div>
</div>

<div class="card" id="statusSelect" style="display:none;width:30%">
  <div class="card-content">
    <form action="" method="post">
      <table style="width: 100%;">
          <tbody id="tableBody">
              <tr>
                  <td><b>Status:</b></td>
                  <td><select name="status" id="statusSelectBox">
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                  </select></td>
              </tr>
              <tr>
                <td><b>Scan rate:</b></td>
                <td><input type="number" placeholder="5 sec" value="{{nodeData.scanRate}}" name="scanRate"></td>
              </tr>
          </tbody>
      </table>
      <div class="btnWrap" id="cancelContBtnWrap">
        <button style="background-color:#d32d41;" onclick="cancelConfig()" type="button">Cancel</button> <button style="background-color:#4da851"  type="submit">Change</button>
      </div>
    </form>
  </div>
</div>

<script>
  function showStatusSelect() {
    document.getElementById('showCard').style.display='none';
    document.getElementById('statusSelect').style.display='block';
  }
  
  function cancelConfig() {
    document.getElementById('statusSelect').style.display='none';
    document.getElementById('showCard').style.display='block';
  }
</script>

{% endblock%}
